// CSS for mobile bottom nav bar 

.mobile-bottom-nav {
  width: 100%;
  // position: absolute;
  // bottom: 20px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
  &-dark {
    width: 100%;
    // position: absolute;
    // bottom: 20px;
    display: flex;
    justify-content: space-around;
    color: white !important;
  }
}