@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;

  &.themeMode {
    transition: all 0.3s ease;
    background: white;
  }

  &.themeMode--dark {
    transition: all 0.5s ease;
    background: #202225 !important;
  }
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
